<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Primera Vue</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="app" :style="{ background: '#' + color }">
      <img
        v-on:mouseover="toggleShowPrices"
        v-on:mouseout="toggleShowPrices"
        v-bind:src="img"
        v-bind:alt="Bitcoin"
      />
      <h1 v-bind:class="changePercent > 0 ? 'green' : 'red'">
        {{ title }}
        <span v-if="changePercent > 0">🤑</span>
        <span v-else>🤯</span>
        <button v-on:click="toggleShowPrices">
          {{ showPrices? '🙈' : '🐵' }}
        </button>
      </h1>

      <ul v-show="showPrices">
        <li
          class="uppercase"
          v-bind:class="{
          green: p.value > price,
          orange: p.value === price,
          red: p.value < price,
        }"
          v-for="(p, index) in pricesWithDays"
          v-bind:key="p.day"
        >
          {{index}} - {{ p.day }} - {{ p.value }}
        </li>
      </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="./app.js"></script>
  </body>
</html>
